
<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Генератор отчётов</title>  
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
      <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
</head>

<body>

<div class="communism">
  <br><br><br><br>
<form action="" method=post enctype=multipart/form-data class="decor">
<div class="form-left-decoration"></div>
<div class="form-right-decoration"></div>
<div class="circle"></div>
<div class="form-inner">
<h3>Генератор отчётов</h3>

<input type="text" name="autor" placeholder="Имя, группа, вариант">
<input type="text" name="work_num" placeholder="Номер работы">
<input type="text" name="work_name" placeholder="Название работы">

<div class="one-task">
    <p><input type="text" name="1num" placeholder="Номер задачи"></p>
    <textarea name="1task" placeholder="Задача"></textarea>      
    <textarea type="text" name="1data" placeholder="Входные данные:(6 пробелов)- x: 100"></textarea>
    <input type="text" name="1file_name" placeholder="Имя файла">
    <input type="text" name="1starts" placeholder="Количество запусков">
</div>

<div class="form" > 
    <div class="add">Добавить задачу</div>
</div>

<script type="text/javascript">       
    var $add = document.getElementsByClassName('add')[0];
    var $form = document.getElementsByClassName('form')[0];
    var $k = 1;
    var $counter = document.createElement('input');
    
    $counter.name = 'counter';
    $counter.type = 'text';
    $counter.style = 'display: none';
    $form.insertBefore($counter, $add); 
    $counter.value = $k;
    function delNode(el){el.parentNode.parentNode.remove(); $k -=1; $counter.value -= 1;} 
      $add.addEventListener('click', function(event) {
        var $div1 = document.createElement('div');                
        $k += 1;
        $div1.innerHTML += '<div class="one-task"><p><input type="text" name="'+$k+'num" placeholder="Номер задачи"></p><p><textarea name="'+$k+'task" placeholder="Задача."></textarea></p><p><input type="text" name="'+$k+'file_name" placeholder="Имя файла"></p><p><textarea name="'+$k+'data" placeholder="Входные данные:(6 пробелов)- x: 100" ></textarea></p><p><input type="text" name="'+$k+'starts" placeholder="Количество запусков"><div class="del" onclick="delNode(this)">Удалить задачу</div></p></div>';
        $counter.value = $k;
        $form.insertBefore($div1, $add);    
    });
</script>

<label for="file_type" class="label_file">Выбрать файлы</label>
<input type="file" multiple="" name="file[]" id="file_type" accept=".py" placeholder="Загрузите файлы">
<input type=submit value="Создать отчёт">
</div>
</form>
<br>
</div>
  
<div class="lenin">
  <h1>О нас</h1>
  <div class="decor"  style="max-width: 90%;">
    <div class="form-left-decoration" style="background: #c42e2e;"></div>
    <div class="form-right-decoration" style="background: #c42e2e;"></div>
    <div class="circle"></div>
    <div class="form-inner" style="display: inline-block;">   
      <h2><strong>Деньги скидывать сюда: </strong></h2>
      <h1 style="color:red;"><strong>+7-995-997-03-36</strong></h1>
    </div> 
  </div>
</div>  
</body>
</html>