
<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Генератор отчётов</title>  
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
      <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>

<div class="communism">
		<br><br>
<div class="decor">
<div class="form-left-decoration"></div>
<div class="form-right-decoration"></div>
<div class="circle"></div>
<div class="form-inner">
<h3>Генератор отчётов</h3>

{{ links|safe }}

</div>

</div>
  </div>
</body>
</html>